body{
	margin:0px;
	font-family: verdana;

}
.banner{
	background: url('images/banner1.jpg') top no-repeat;	
	background-size: cover;
	width: 100%;
	height:197px;
	color: white;
	
}
.lbl{
	font-size: 18px;
	font-family: arial;
	margin: 20px;
	float: left;

}
.menu{
	float: left;
	width: 20%;
	height: auto;
	margin: 0px;
	padding: 0px;
}
.navi{
	list-style-type: none;
	margin: 0px;
	padding: 0px;

}
li a{
	text-decoration: none;
	background-color: #1252ac;
	padding:20px; 
	font-size: 25px;
	margin:10px; 
	color: white;
	display: block;
	text-align: center;
	border-radius: 5px;
        border: 2px solid #1252ac;
}
#upld:hover,li a:hover{
	background-color:#ff6600; 
        border-color: #ff6600;
}
/*.rtpanel{
	margin-top: 10px;
	width: 80%;
	height: 494px;
	border-radius: 5px;
	float: left;
	background-color: skyblue;}*/
/*.uppanel {
    width: 65%;
    height: 300px;
    margin-top: 10px;
    float: left;
    border: 2px solid crimson;
   
}*/
.inputfile{
  margin-left:20px;
 }
#upld{
    background-color: #1252ac;
	padding:10px 20px 10px 20px; 
	font-size: 25px;
	margin:10px; 
	color: white;
	text-align: center;
        border: none;
        border-radius: 5px;
        border: 2px solid #1252ac;
        cursor: pointer;
}
    /*.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}*/
/*.inputfile+#input{
    padding: 10px;background-color: crimson;color:white;text-align: center;border-radius: 5px;
    margin-left: 10px;  
    cursor: pointer;
}
.inputfile:focus + #input,
.inputfile + #input:hover {
    background-color: #ff6600;
}*/
.uppanel,.rtpanel{
	/*margin: 0px;
	padding: 0px;
	background: url('abcd.jpg') fixed;
	background-size: cover;*/
        
        margin-top: 10px;
	width: 80%;
	height: 460px;
	border-radius: 5px;
	float: left;
	background:url(images/abcd.jpg);
        background-size: cover;
        overflow: auto;

}
.imgtbl{
	width: 100%;
	height: auto;
	position: relative;
}
.imgtbl th{
	padding: 20px;
        background-color: transparent;
	height: 5%;
	width: 100%;
	position: relative;
	
}

.imgtbl td{
	position: relative;
	padding: 10px;
	width: 20%;
	height: 200px;
        
       
}
.imgtbl .im{
	position: relative;
	width: 100%;
	height: 90%;
}
.imgtbl td p{
    position: relative;
 text-align: center;
 width:100%;
  margin-top: 0;
  color: white;
	height: 10%;
    
}
.imgtbl #btn{
	padding: 7px 15px 7px 15px;
	background-color: #1252ac;
	color: white;
	border:1px solid  #1252ac;
	border-radius: 4px;
	margin-left: 0px;
	cursor: pointer;
}

.imgtbl #txt{
	height: 30px;
	width: 400px;
	margin-right: 0px;
        padding-left: 10px;
	

}
.imgtbl .bt{
	background: transparent;
	border:1px solid transparent;
	cursor: pointer;
	margin-left:10px;
	padding: 5px 10px 5px 10px;
	color: white;
	border-radius: 5px;
	
}
.imgtbl .bt:hover{
	
	background-color: #1252ac;

}
